@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background:transparent;
    font-family: 'Creepster', cursive;
}
#musculosos{
    width: 60px;
    height: 60px;
    background: transparent;
}

#Oggie{
    width: 400px;
    height: 400px;
    background: transparent;
}
  